User verification 

Consider alternative approach for user verification after account creation to avoid sending unencrypted credentials over plain http(s) query strings:

Instead of:

```
GET http://localhost:3000/api/v0/user/verify?email=test&password=123
```

use encoded basic auth (see [here](https://datatracker.ietf.org/doc/html/rfc7617#section-2)):

```
GET http://test:123@localhost:3000/api/v0/user/verify

Request header:

      't' 'e' 's' 't' ':' '1' '2' '3' pound
      74  65  73  74  3A  31  32  33  C2  A3

Encoding this octet sequence in Base64 ([[RFC4648], Section 4](https://datatracker.ietf.org/doc/html/rfc4648#section-4)) yields:

      dGVzdDoxMjPCow==

Thus, the Authorization header field would be:

      Authorization: Basic dGVzdDoxMjPCow==
```


Edit: Change to digest auth (see https://stackoverflow.com/questions/9534602/what-is-the-difference-between-digest-and-basic-authentication)